body.landing{
    font-family: Cantarell, Trebuchet MS;
    background-image:  url(/interface/images/port.jpg);
    background-size:   cover;
    background-repeat: no-repeat;
}

#landing_wrapper {
    width: auto;
}

#title{
    position: relative;
    padding-top: 30px;
    left: 60px;
    font-weight: bold;
    font-family: Cantarell; Trebuchet MS;
    font-size:34pt;
}

#landing_ribbon {
    position: absolute;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 5px;
}

#landing_content {
    position: relative;
    left: 32%;
    border-radius: 7px;
    text-align: left;
    width: 400px;
}

div.colored {
    background-color: rgba(255, 255, 255, 0.8);
}

