div.size1, div.size2 {
    width: 350px;
    height: 350px;
}

div.size3 {
    width: 250px;
    height: 250px;
}

div.size4 {
    width: 150px;
    height: 150px;
}

#sound_container {
   position:fixed;
   right:0px;
   bottom:0px;
   height:100%;
   width:491px;;
}

#photo_container {
    position: relative;
    left: 0;
    right: 491px;
}

.inner{
    position: relative;
    padding: 5px;
}

.click {
    position:relative;
    top: 0px;
    right:0px;
    width: 48px;
    height: 53px;
    z-index: 1;
    background-image: url(/interface/images/thumbsup-small.png);
}

div.sound {
    padding-bottom: 10px;
}

button.invisible{
    border:none;
    background-color:transparent;
}

div.photo {
    border: red 1px solid; !important
}
